.testimonials__content .testimonials-card__head, .testimonials__info-wrap, .testimonials__info, .testimonials__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.testimonials__content .testimonials-slider .swiper-pagination-fraction {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.testimonials {
  margin: 100px auto;
  overflow: hidden;
  position: relative;
  border-radius: 50px;
  width: calc(100% - 40px);
}
@media (max-width: 1600px) {
  .testimonials {
    background: rgba(99, 159, 171, 0.07);
  }
}
@media (max-width: 1359px) {
  .testimonials {
    background: rgba(99, 159, 171, 0.07);
    width: 100%;
    border-radius: 0;
  }
}
@media (max-width: 1023px) {
  .testimonials {
    margin: 0;
    background-color: #14213d;
  }
}
.testimonials::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30%;
  height: 100%;
  border-radius: 0;
  background-color: #FFFFFF;
  z-index: 2;
}
@media (max-width: 1600px) {
  .testimonials::before {
    background: #14213d;
  }
}
@media (max-width: 1023px) {
  .testimonials::before {
    content: none;
  }
}
.testimonials__wrap {
  justify-content: space-between;
  position: relative;
  padding: 94px 0 80px;
}
@media (max-width: 1023px) {
  .testimonials__wrap {
    flex-wrap: wrap;
    padding: 80px 0;
  }
}
@media (max-width: 639px) {
  .testimonials__wrap {
    padding: 60px 0;
  }
}
.testimonials__wrap::before {
  content: "";
  position: absolute;
  left: -74px;
  top: 0;
  width: 650px;
  height: 100%;
  border-radius: 50px 0 0 50px;
  background-color: #14213d;
  z-index: 3;
}
@media (max-width: 1600px) {
  .testimonials__wrap::before {
    width: 560px;
    border-radius: 0 50px 50px 0;
  }
}
@media (max-width: 1199px) {
  .testimonials__wrap::before {
    width: 500px;
  }
}
@media (max-width: 1023px) {
  .testimonials__wrap::before {
    content: none;
  }
}
.testimonials__wrap::after {
  content: "";
  position: absolute;
  top: 0;
  right: -74px;
  width: 100%;
  height: 100%;
  background: rgba(99, 159, 171, 0.07);
  border-radius: 50px;
}
@media (max-width: 1600px) {
  .testimonials__wrap::after {
    content: none;
  }
}
.testimonials .block-tag {
  color: #FFFFFF;
}
.testimonials__info {
  width: 500px;
  flex-flow: column;
  justify-content: space-between;
  position: relative;
  z-index: 4;
}
@media (max-width: 1600px) {
  .testimonials__info {
    width: 380px;
  }
}
@media (max-width: 1023px) {
  .testimonials__info {
    width: 100%;
    margin-bottom: 40px;
  }
}
.testimonials__info-social {
  z-index: 2;
}
.testimonials__info::before {
  content: "";
  position: absolute;
  top: -40px;
  width: 280px;
  height: 280px;
  opacity: 0.5;
  left: 0;
  animation: ellipse 8s linear infinite;
  background-image: url("../../../../assets/img/ellipse.webp");
  background-size: cover;
}
@media (max-width: 1600px) {
  .testimonials__info::before {
    left: -180px;
    width: 397px;
    height: 397px;
    top: -140px;
  }
}
@media (max-width: 1199px) {
  .testimonials__info::before {
    left: -180px;
    width: 280px;
    height: 280px;
  }
}
@media (max-width: 1023px) {
  .testimonials__info::before {
    right: -100px;
    left: auto;
  }
}
.testimonials__info::after {
  content: "";
  position: absolute;
  left: 100px;
  bottom: -80px;
  width: 397px;
  height: 397px;
  animation: ellipse 7s linear infinite;
  background-image: url("../../../../assets/img/ellipse.webp");
  background-size: cover;
  opacity: 0.3;
}
@media (max-width: 1600px) {
  .testimonials__info::after {
    left: 10px;
  }
}
@media (max-width: 1023px) {
  .testimonials__info::after {
    content: none;
  }
}
.testimonials__info-wrap {
  flex-flow: column;
  justify-content: flex-start;
}
.testimonials__info-title {
  margin-bottom: 60px;
  color: #FFFFFF;
}
@media (max-width: 1023px) {
  .testimonials__info-title {
    margin-bottom: 40px;
  }
}
.testimonials__info-text {
  font-weight: 400;
  line-height: 140%;
  font-size: 18px;
  color: #FFFFFF;
}
@media (max-width: 1600px) {
  .testimonials__info-text {
    font-size: 16px;
  }
}
@media (max-width: 1199px) {
  .testimonials__info-text {
    font-size: 16px;
  }
}
@media (max-width: 1023px) {
  .testimonials__info-social {
    display: none;
  }
}
.testimonials__info-social .social-caption {
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  margin-bottom: 20px;
  color: #FFFFFF;
}
@media (max-width: 1600px) {
  .testimonials__info-social .social-caption {
    font-size: 15px;
  }
}
.testimonials__content {
  width: 900px;
  position: relative;
  z-index: 1;
}
@media (max-width: 1600px) {
  .testimonials__content {
    width: 660px;
    padding-left: 50px;
  }
}
@media (max-width: 1199px) {
  .testimonials__content {
    width: 550px;
  }
}
@media (max-width: 1023px) {
  .testimonials__content {
    width: 100%;
    padding-left: 0;
  }
}
.testimonials__content .testimonials-slider {
  overflow: visible;
  padding-bottom: 90px;
}
@media (max-width: 639px) {
  .testimonials__content .testimonials-slider {
    padding-bottom: 120px;
  }
}
.testimonials__content .testimonials-slider .swiper-wrapper {
  align-items: initial;
}
.testimonials__content .testimonials-slider .swiper-pagination-fraction {
  position: absolute;
  bottom: 6px;
  left: 110px;
  text-align: left;
  color: #14213d;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
}
@media (max-width: 1600px) {
  .testimonials__content .testimonials-slider .swiper-pagination-fraction {
    left: 16px;
  }
}
@media (max-width: 1199px) {
  .testimonials__content .testimonials-slider .swiper-pagination-fraction {
    left: 10px;
    font-size: 16px;
  }
}
@media (max-width: 1023px) {
  .testimonials__content .testimonials-slider .swiper-pagination-fraction {
    left: 0;
    color: #FFFFFF;
  }
}
@media (max-width: 639px) {
  .testimonials__content .testimonials-slider .swiper-pagination-fraction {
    font-size: 15px;
    bottom: 55px;
    left: 0;
    text-align: center;
    width: 100%;
    display: block;
  }
}
.testimonials__content .testimonials-slider .swiper-pagination-fraction .swiper-pagination-current {
  margin-right: 8px;
}
.testimonials__content .testimonials-slider .swiper-pagination-fraction .swiper-pagination-total {
  margin-left: 8px;
}
.testimonials__content .testimonials-slider .swiper-button-prev, .testimonials__content .testimonials-slider .swiper-button-next {
  top: auto;
  bottom: 0;
  width: 84px;
  height: 40px;
  border: 1px solid #0bc594;
  border-radius: 43px;
  z-index: 11;
  transition: all 0.3s linear;
}
@media (max-width: 1199px) {
  .testimonials__content .testimonials-slider .swiper-button-prev, .testimonials__content .testimonials-slider .swiper-button-next {
    width: 78px;
    height: 38px;
  }
}
.testimonials__content .testimonials-slider .swiper-button-prev::after, .testimonials__content .testimonials-slider .swiper-button-next::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 16px;
  background-image: url("../../../../assets/img/icons/arrow-black.svg");
  background-size: cover;
  transition: all 0.3s;
}
@media (max-width: 1199px) {
  .testimonials__content .testimonials-slider .swiper-button-prev::after, .testimonials__content .testimonials-slider .swiper-button-next::after {
    width: 22px;
    height: 14px;
  }
}
@media (max-width: 1023px) {
  .testimonials__content .testimonials-slider .swiper-button-prev::after, .testimonials__content .testimonials-slider .swiper-button-next::after {
    filter: invert(1);
  }
}
.testimonials__content .testimonials-slider .swiper-button-prev:hover, .testimonials__content .testimonials-slider .swiper-button-next:hover {
  background-color: #0bc594;
}
.testimonials__content .testimonials-slider .swiper-button-prev:hover::after, .testimonials__content .testimonials-slider .swiper-button-next:hover::after {
  filter: invert(1);
}
.testimonials__content .testimonials-slider .swiper-button-prev {
  left: auto;
  right: 96px;
}
@media (max-width: 1199px) {
  .testimonials__content .testimonials-slider .swiper-button-prev {
    right: 90px;
  }
}
@media (max-width: 767px) {
  .testimonials__content .testimonials-slider .swiper-button-prev {
    right: 88px;
  }
}
@media (max-width: 639px) {
  .testimonials__content .testimonials-slider .swiper-button-prev {
    left: 0;
    margin: 0 auto;
  }
}
.testimonials__content .testimonials-slider .swiper-button-next {
  right: 0;
}
@media (max-width: 639px) {
  .testimonials__content .testimonials-slider .swiper-button-next {
    left: 88px;
    margin: 0 auto;
  }
}
.testimonials__content .testimonials-slider .swiper-button-next::after {
  transform: rotate(180deg);
}
.testimonials__content .testimonials-slider .swiper-slide {
  height: auto;
  width: 465px;
  opacity: 0;
  transition: opacity 0.7s;
}
@media (max-width: 1600px) {
  .testimonials__content .testimonials-slider .swiper-slide {
    width: 440px;
  }
}
@media (max-width: 1199px) {
  .testimonials__content .testimonials-slider .swiper-slide {
    width: 400px;
  }
}
@media (max-width: 639px) {
  .testimonials__content .testimonials-slider .swiper-slide {
    width: 100%;
  }
}
.testimonials__content .testimonials-slider .swiper-slide-prev, .testimonials__content .testimonials-slider .swiper-slide-next {
  opacity: 0.3;
}
.testimonials__content .testimonials-slider .swiper-slide-active {
  opacity: 1;
}
.testimonials__content .testimonials-slider .swiper-slide-active .testimonials-card::before {
  height: 100%;
}
.testimonials__content .testimonials-slider .swiper-slide-active .testimonials-card__link {
  opacity: 1;
  margin-top: 30px;
  pointer-events: auto;
}
.testimonials__content .testimonials-card {
  width: 100%;
  height: 100%;
  padding: 40px 40px 100px;
}
@media (max-width: 1199px) {
  .testimonials__content .testimonials-card {
    padding: 34px 34px 100px;
  }
}
@media (max-width: 639px) {
  .testimonials__content .testimonials-card {
    padding: 0;
    height: auto;
  }
}
.testimonials__content .testimonials-card::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 90%;
  background-color: #FFFFFF;
  border-radius: 30px;
  box-shadow: -10px -10px 10px rgba(6, 94, 71, 0.07), 10px 10px 10px rgba(6, 94, 71, 0.07);
  transition: all 0.5s linear;
}
@media (max-width: 639px) {
  .testimonials__content .testimonials-card::before {
    content: none;
  }
}
.testimonials__content .testimonials-card__head {
  justify-content: space-between;
  position: relative;
  z-index: 1;
  margin-bottom: 30px;
  height: auto;
}
@media (max-width: 639px) {
  .testimonials__content .testimonials-card__head {
    flex-wrap: wrap;
    border-radius: 5px;
    text-align: center;
  }
}
.testimonials__content .testimonials-card__head .human-image {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  overflow: hidden;
  display: block;
  position: relative;
}
@media (max-width: 1199px) {
  .testimonials__content .testimonials-card__head .human-image {
    width: 90px;
    height: 90px;
  }
}
@media (max-width: 639px) {
  .testimonials__content .testimonials-card__head .human-image {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
    padding-bottom: 100%;
    height: auto;
  }
}
.testimonials__content .testimonials-card__head .human-image img {
  border-radius: 15px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 639px) {
  .testimonials__content .testimonials-card__head .human-image img {
    border-radius: 5px;
    display: block;
    width: 100%;
    height: 100%;
    max-width: none;
    max-height: none;
    object-fit: cover;
    object-position: 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
  }
}
.testimonials__content .testimonials-card__head .human-info {
  width: calc(100% - 130px);
}
@media (max-width: 1199px) {
  .testimonials__content .testimonials-card__head .human-info {
    width: calc(100% - 120px);
  }
}
@media (max-width: 639px) {
  .testimonials__content .testimonials-card__head .human-info {
    width: 100%;
  }
}
.testimonials__content .testimonials-card__head .human-info_name {
  font-size: 20px;
  line-height: 140%;
  text-transform: uppercase;
  font-family: "Manrope";
}
@media (max-width: 1600px) {
  .testimonials__content .testimonials-card__head .human-info_name {
    font-size: 18px;
  }
}
@media (max-width: 1199px) {
  .testimonials__content .testimonials-card__head .human-info_name {
    font-size: 16px;
  }
}
@media (max-width: 639px) {
  .testimonials__content .testimonials-card__head .human-info_name {
    color: #FFFFFF;
    font-size: 18px;
    margin-bottom: 2px;
  }
}
.testimonials__content .testimonials-card__head .human-info_pos {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  margin-bottom: 10px;
  color: #B1B1B1;
}
@media (max-width: 1600px) {
  .testimonials__content .testimonials-card__head .human-info_pos {
    font-size: 16px;
  }
}
@media (max-width: 1199px) {
  .testimonials__content .testimonials-card__head .human-info_pos {
    font-size: 15px;
  }
}
@media (max-width: 639px) {
  .testimonials__content .testimonials-card__head .human-info_pos {
    font-size: 16px;
  }
}
.testimonials__content .testimonials-card__head .human-info_rate img {
  width: auto;
}
.testimonials__content .testimonials-card__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  position: relative;
  z-index: 1;
}
@media (max-width: 1600px) {
  .testimonials__content .testimonials-card__text {
    font-size: 16px;
  }
}
@media (max-width: 1199px) {
  .testimonials__content .testimonials-card__text {
    font-size: 16px;
  }
}
@media (max-width: 1023px) {
  .testimonials__content .testimonials-card__text {
    font-size: 15px;
  }
}
@media (max-width: 639px) {
  .testimonials__content .testimonials-card__text {
    font-size: 14px;
    color: #FFFFFF;
  }
}
.testimonials__content .testimonials-card__link {
  font-weight: 500;
  font-size: 18px;
  line-height: 140%;
  color: #0BC594;
  text-decoration: underline;
  display: inline-block;
  pointer-events: none;
  position: absolute;
  left: 40px;
  bottom: 40px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.7s;
}
@media (max-width: 1600px) {
  .testimonials__content .testimonials-card__link {
    font-size: 17px;
  }
}
@media (max-width: 1199px) {
  .testimonials__content .testimonials-card__link {
    font-size: 16px;
  }
}
@media (max-width: 1023px) {
  .testimonials__content .testimonials-card__link {
    font-size: 15px;
  }
}
@media (max-width: 639px) {
  .testimonials__content .testimonials-card__link {
    display: none;
  }
}

@media (max-width: 1023px) {
  .page-portfolio .testimonials, .page-service .testimonials {
    background: rgba(99, 159, 171, 0.07);
  }
  .page-portfolio .testimonials__content .testimonials-slider .swiper-button-prev::after, .page-portfolio .testimonials__content .testimonials-slider .swiper-button-next::after, .page-service .testimonials__content .testimonials-slider .swiper-button-prev::after, .page-service .testimonials__content .testimonials-slider .swiper-button-next::after {
    filter: invert(0);
  }
  .page-portfolio .testimonials__content .testimonials-slider .swiper-pagination-fraction, .page-service .testimonials__content .testimonials-slider .swiper-pagination-fraction {
    color: #121212;
  }
  .page-portfolio .testimonials__info::before, .page-service .testimonials__info::before {
    content: none;
  }
  .page-portfolio .testimonials__info-title, .page-service .testimonials__info-title {
    color: #121212;
  }
  .page-portfolio .testimonials__info-text, .page-service .testimonials__info-text {
    color: #121212;
  }
  .page-portfolio .testimonials .block-tag, .page-service .testimonials .block-tag {
    color: #B1B1B1;
  }
}
@media (max-width: 639px) {
  .page-portfolio .testimonials__content .testimonials-card__head .human-info_name, .page-service .testimonials__content .testimonials-card__head .human-info_name {
    color: #121212;
  }
  .page-portfolio .testimonials__content .testimonials-card__text, .page-service .testimonials__content .testimonials-card__text {
    color: #121212;
  }
}

/*# sourceMappingURL=testimonials.css.map */
