@import "../../../../../src/styles/abstacts/_style";

.development {
  width: 100%;
  margin: 100px 0;
  @media (max-width: $ipad) {
    margin: 80px 0;
  }
  @media (max-width: $phone-wide) {
    margin: 60px 0;
  }

  &-wrap {
    @extend %flex;
    flex-wrap: wrap;
    gap: 40px;
    @media (max-width: $desktop) {
      gap: 30px;
    }
    @media (max-width: $ipad) {
      gap: 20px;
    }
  }

  &-block {
    width: 100%;
    border-radius: 30px;
    background-color: $bg-dark-blue;
    @extend %flex;
    justify-content: space-between;
    padding: 46px 92px 61px 87px;
    align-items: center;
    position: relative;
    overflow: hidden;
    @media (max-width: $desktop) {
      padding: 40px 70px 50px;
    }
    @media (max-width: $ipad) {
      padding: 40px;
      gap: 60px;
      border-radius: 15px;
    }
    @media (max-width: $phone-wide) {
      flex-wrap: wrap;
    }
    @media (max-width: $phone) {
      padding: 40px 20px;
    }

    &::before {
      content: "";
      position: absolute;
      bottom: -180px;
      width: 480px;
      height: 480px;
      opacity: .4;
      left: -60px;
      animation: ellipseOne 20s linear infinite;
      background-image: url("../../../../../src/img/ellipse.webp");
      background-size: cover;
      @media (max-width: $ipad) {
        width: 240px;
        height: 240px;
        left: -40px;
        bottom: -50px;
      }
      @media (max-width: $phone-wide) {
        bottom: -120px;
      }

    }

    &::after {
      content: "";
      position: absolute;
      top: -180px;
      width: 480px;
      height: 480px;
      right: -120px;
      opacity: .4;
      animation: ellipseSecond 20s linear infinite;
      background-image: url("../../../../../src/img/ellipse.webp");
      background-size: cover;
      @media (max-width: $ipad) {
        width: 240px;
        height: 240px;
        right: -40px;
        top: -20px;
      }
      @media (max-width: $phone-wide) {
        right: -40px;
      }
    }

    &:nth-of-type(2n+2) {
      &::before {
        content: none;
      }

      &::after {
        opacity: .7;
        top: -60px;
        right: -40px;
        animation: ellipse 14s linear infinite;
        background-image: url("../../../../../src/img/ellipse-2.svg");
        @media (max-width: $ipad) {
          top: -40px;
          right: -20px;
        }
      }
    }

    &:nth-of-type(1) {
      .development-block_image {
        span {
          &:nth-of-type(1) {
            right: 46px;
            width: 110px;
            height: 110px;
            top: 5px;
            transition: all .7s .5s;
            @media (max-width: $wide-screen) {
              right: 33px;
              width: 86px;
              height: 86px;
              top: 4px;
            }
            @media (max-width: $desktop) {
              right: 27px;
              width: 68px;
              height: 68px;
              top: 3px;
            }
            @media (max-width: $ipad) {
              right: 16px;
              width: 38px;
              height: 38px;
              top: 1px;
            }
            @media (max-width: $phone-wide) {
              right: 25px;
              width: 68px;
              height: 68px;
              top: 2px;
            }
          }

          &:nth-of-type(2) {
            left: 116px;
            top: 17px;
            width: 61px;
            height: 61px;
            transition: all .7s .7s;
            @media (max-width: $wide-screen) {
              left: 82px;
              top: 13px;
              width: 56px;
              height: 56px;
            }
            @media (max-width: $desktop) {
              left: 69px;
              top: 11px;
              width: 42px;
              height: 42px;
            }
            @media (max-width: $ipad) {
              left: 37px;
              top: 6px;
              width: 26px;
              height: 26px;
            }
            @media (max-width: $phone-wide) {
              left: 63px;
              top: 8px;
              width: 40px;
              height: 40px;
            }
          }

          &:nth-of-type(3) {
            right: 51px;
            bottom: 12px;
            width: 84px;
            height: 84px;
            transition: all .7s .9s;
            @media (max-width: $wide-screen) {
              right: 37px;
              bottom: 7px;
              width: 68px;
              height: 68px;
            }
            @media (max-width: $desktop) {
              right: 31px;
              bottom: 8px;
              width: 50px;
              height: 50px;
            }
            @media (max-width: $ipad) {
              right: 17px;
              bottom: 3px;
              width: 30px;
              height: 30px;
            }
            @media (max-width: $phone-wide) {
              right: 27px;
              bottom: 6px;
              width: 50px;
              height: 50px;
            }
          }

          &:nth-of-type(4) {
            left: 71px;
            bottom: 42px;
            width: 28px;
            height: 28px;
            transition: all .7s 1.1s;
            @media (max-width: $wide-screen) {
              left: 53px;
              bottom: 30px;
              width: 24px;
              height: 24px;
            }
            @media (max-width: $desktop) {
              left: 43px;
              bottom: 25px;
              width: 18px;
              height: 18px;
            }
            @media (max-width: $ipad) {
              left: 24px;
              bottom: 14px;
              width: 10px;
              height: 10px;
            }
            @media (max-width: $phone-wide) {
              left: 40px;
              bottom: 24px;
              width: 16px;
              height: 16px;
            }
          }

          &:nth-of-type(5), &:nth-of-type(6), &:nth-of-type(7) {
            display: none;
          }
        }
      }
    }

    &:nth-of-type(2) {
      .development-block_image {
        span {
          background-image: url("../../../../../src/img/vector2.svg");

          &:nth-of-type(1) {
            right: 1px;
            width: 62px;
            height: 62px;
            bottom: 37px;
            transition: all .7s .5s;
            @media (max-width: $wide-screen) {
              right: 1px;
              width: 52px;
              height: 52px;
              bottom: 26px;
            }
            @media (max-width: $desktop) {
              right: 1px;
              width: 42px;
              height: 42px;
              bottom: 20px;
            }
            @media (max-width: $ipad) {
              right: 0;
              width: 24px;
              height: 24px;
              bottom: 11px;
            }
            @media (max-width: $phone-wide) {
              right: 0px;
              width: 42px;
              height: 42px;
              bottom: 17px;
            }
          }

          &:nth-of-type(2) {
            right: 35px;
            bottom: 121px;
            width: 21px;
            height: 21px;
            transition: all .7s .7s;
            @media (max-width: $wide-screen) {
              right: 26px;
              bottom: 88px;
            }
            @media (max-width: $desktop) {
              right: 20px;
              bottom: 71px;
              width: 16px;
              height: 16px;
            }
            @media (max-width: $ipad) {
              right: 12px;
              bottom: 40px;
              width: 10px;
              height: 10px;
            }
            @media (max-width: $phone-wide) {
              right: 19px;
              bottom: 67px;
              width: 16px;
              height: 16px;
            }
          }

          &:nth-of-type(3) {
            right: 161px;
            top: 45px;
            width: 21px;
            height: 21px;
            transition: all .7s .7s;
            @media (max-width: $wide-screen) {
              right: 120px;
              top: 34px;
            }
            @media (max-width: $desktop) {
              left: 208px;
              top: 26px;
              width: 16px;
              height: 16px;
            }
            @media (max-width: $ipad) {
              left: 116px;
              top: 15px;
              width: 10px;
              height: 10px;
            }
            @media (max-width: $phone-wide) {
              left: 195px;
              top: 24px;
              width: 16px;
              height: 16px;
            }
          }

          &:nth-of-type(4) {
            left: 284px;
            top: 26px;
            width: 48px;
            height: 48px;
            transition: all .7s .9s;
            @media (max-width: $wide-screen) {
              left: 211px;
              top: 20px;
              width: 30px;
              height: 30px;
            }
            @media (max-width: $desktop) {
              left: 169px;
              top: 15px;
              width: 32px;
              height: 32px;
            }
            @media (max-width: $ipad) {
              left: 95px;
              top: 9px;
              width: 18px;
              height: 18px;
            }
            @media (max-width: $phone-wide) {
              left: 159px;
              top: 14px;
              width: 30px;
              height: 30px;
            }
          }

          &:nth-of-type(5) {
            width: 48px;
            height: 48px;
            left: 104px;
            bottom: 48px;
            transition: all .7s 1.1s;
            @media (max-width: $wide-screen) {
              width: 40px;
              height: 40px;
              left: 78px;
              bottom: 32px;
            }
            @media (max-width: $desktop) {
              width: 30px;
              height: 30px;
              left: 62px;
              bottom: 28px;
            }
            @media (max-width: $ipad) {
              width: 18px;
              height: 18px;
              left: 35px;
              bottom: 15px;
            }
            @media (max-width: $phone-wide) {
              width: 30px;
              height: 30px;
              left: 58px;
              bottom: 25px;
            }
          }

          &:nth-of-type(6), &:nth-of-type(7) {
            display: none;
          }
        }
      }
    }

    &:nth-of-type(3) {
      .development-block_image {
        span {
          &:nth-of-type(1) {
            right: 138px;
            width: 110px;
            height: 110px;
            top: 5px;
            transition: all .7s .5s;
            @media (max-width: $wide-screen) {
              right: 108px;
              width: 81px;
              height: 81px;
              top: 5px;
            }
            @media (max-width: $desktop) {
              right: 82px;
              width: 70px;
              height: 70px;
              top: 4px;
            }
            @media (max-width: $ipad) {
              right: 48px;
              width: 35px;
              height: 35px;
              top: 2px;
            }
            @media (max-width: $phone-wide) {
              right: 80px;
              width: 62px;
              height: 62px;
              top: 3px;
            }
          }

          &:nth-of-type(2) {
            left: 116px;
            top: 3px;
            width: 61px;
            height: 61px;
            transition: all .7s .7s;
            @media (max-width: $wide-screen) {
              left: 89px;
              top: 3px;
              width: 44px;
              height: 44px;
            }
            @media (max-width: $desktop) {
              left: 72px;
              top: 2px;
              width: 34px;
              height: 34px;
            }
            @media (max-width: $ipad) {
              left: 41px;
              top: 1px;
              width: 18px;
              height: 18px;
            }
            @media (max-width: $phone-wide) {
              left: 67px;
              top: 2px;
              width: 34px;
              height: 34px;
            }
          }

          &:nth-of-type(3) {
            right: 171px;
            bottom: 0;
            width: 84px;
            height: 84px;
            transition: all .7s .9s;
            @media (max-width: $wide-screen) {
              right: 127px;
              bottom: 0;
              width: 64px;
              height: 64px;
            }
            @media (max-width: $desktop) {
              right: 103px;
              bottom: 0;
              width: 50px;
              height: 50px;
            }
            @media (max-width: $ipad) {
              right: 58px;
              bottom: 0;
              width: 28px;
              height: 28px;
            }
            @media (max-width: $phone-wide) {
              right: 99px;
              bottom: 0;
              width: 46px;
              height: 46px;
            }
          }

          &:nth-of-type(4) {
            left: 40px;
            top: 102px;
            width: 28px;
            height: 28px;
            transition: all .7s 1.1s;
            @media (max-width: $wide-screen) {
              left: 30px;
              top: 77px;
              width: 21px;
              height: 21px;
            }
            @media (max-width: $desktop) {
              left: 24px;
              top: 62px;
              width: 16px;
              height: 16px;
            }
            @media (max-width: $ipad) {
              left: 13px;
              top: 35px;
              width: 10px;
              height: 10px;
            }
            @media (max-width: $phone-wide) {
              left: 22px;
              top: 58px;
              width: 16px;
              height: 16px;
            }
          }

          &:nth-of-type(5) {
            right: 106px;
            top: 7px;
            width: 28px;
            height: 28px;
            transition: all .7s 1.2s;
            @media (max-width: $wide-screen) {
              right: 82px;
              top: 5px;
              width: 21px;
              height: 21px;
            }
            @media (max-width: $desktop) {
              right: 66px;
              top: 4px;
              width: 16px;
              height: 16px;
            }
            @media (max-width: $ipad) {
              right: 36px;
              top: 2px;
              width: 10px;
              height: 10px;
            }
            @media (max-width: $phone-wide) {
              right: 61px;
              top: 4px;
              width: 16px;
              height: 16px;
            }
          }

          &:nth-of-type(6) {
            left: 162px;
            bottom: 7px;
            width: 28px;
            height: 28px;
            transition: all .7s 1.3s;
            @media (max-width: $wide-screen) {
              left: 120px;
              bottom: 7px;
              width: 21px;
              height: 21px;
            }
            @media (max-width: $desktop) {
              left: 97px;
              bottom: 5px;
              width: 16px;
              height: 16px;
            }
            @media (max-width: $ipad) {
              left: 54px;
              bottom: 3px;
              width: 10px;
              height: 10px;
            }
            @media (max-width: $phone-wide) {
              left: 91px;
              bottom: 5px;
              width: 16px;
              height: 16px;
            }
          }

          &:nth-of-type(7) {
            right: 54px;
            top: 33px;
            width: 43px;
            height: 43px;
            transition: all .7s 1.4s;
            @media (max-width: $wide-screen) {
              right: 42px;
              top: 26px;
              width: 32px;
              height: 32px;
            }
            @media (max-width: $desktop) {
              right: 34px;
              top: 21px;
              width: 24px;
              height: 24px;
            }
            @media (max-width: $ipad) {
              right: 19px;
              top: 11px;
              width: 14px;
              height: 14px;
            }
            @media (max-width: $phone-wide) {
              right: 31px;
              top: 18px;
              width: 24px;
              height: 24px;
            }

          }
        }
      }
    }

    &_info {
      width: 618px;
      @extend %flex;
      flex-flow: column;
      position: relative;
      z-index: 1;
      gap: 60px;
      @media (max-width: $wide-screen) {
        width: 440px;
        gap: 50px;
      }
      @media (max-width: $desktop) {
        width: 400px;
        gap: 40px;
      }
      @media (max-width: $ipad) {
        width: calc(100% - 240px);
      }
      @media (max-width: $phone-wide) {
        width: 100%;
      }

      &_title {
        color: $color-white;
        @media (max-width: $ipad) {
          font-size: 24px;
        }
        @media (max-width: $phone-wide) {
          font-size: 20px;
        }

        span {
          color: $color-green;
        }
      }

      &_text {
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 140%;
        color: $color-white;
        @media (max-width: $wide-screen) {
          font-size: 16px;
        }
        @media (max-width: $desktop) {
          font-size: 15px;
        }
        @media (max-width: $ipad) {
          font-size: 14px;
        }
      }
    }

    &_image {
      width: 530px;
      position: relative;
      z-index: 1;
      @media (max-width: $wide-screen) {
        width: 400px;
      }
      @media (max-width: $desktop) {
        width: 320px;
      }
      @media (max-width: $ipad) {
        width: 180px;
      }
      @media (max-width: $phone-wide) {
        width: 300px;
        margin: 0 auto;
      }
      @media (max-width: $phone) {
        width: 100%;
      }

      span {
        position: absolute;
        background-image: url("../../../../../src/img/vector.svg");
        background-size: cover;
        width: 30px;
        height: 30px;
        z-index: 0;
        animation: rotate360 10s linear infinite;
        opacity: 0;
        margin-top: 50px;
      }

      img {
        width: 100%;
        height: auto;
        position: relative;
        z-index: 1;
      }

      .in-view & {
        span {
          opacity: 1;
          margin-top: 0;
        }

      }
    }

    &:nth-of-type(2n+2) {
      background: rgba(99, 159, 171, .07);

      .development-block {
        &_info {
          order: 1;
          @media (max-width: $phone-wide) {
            order: 0;
          }

          &_title {
            color: $color-black;
          }

          &_text {
            color: $color-black;
          }
        }

        &_image {
          order: 0;
        }

      }
    }

  }
}
