.standards__block, .standards__head, .standards__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.standards__block .block-icon {
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.standards {
  width: 100%;
  margin: 100px 0;
}
@media (max-width: 1023px) {
  .standards {
    margin: 80px 0;
  }
}
@media (max-width: 639px) {
  .standards {
    margin: 60px 0;
  }
}
.standards__wrap {
  flex-wrap: wrap;
  gap: 20px;
}
.standards__head {
  gap: 30px;
  margin-bottom: 60px;
  justify-content: space-between;
}
@media (max-width: 1023px) {
  .standards__head {
    gap: 40px;
    flex-wrap: wrap;
  }
}
.standards__head-text {
  width: 850px;
  font-weight: 400;
  line-height: 140%;
  font-size: 18px;
}
@media (max-width: 1600px) {
  .standards__head-text {
    width: 700px;
  }
}
@media (max-width: 1359px) {
  .standards__head-text {
    width: 600px;
  }
}
@media (max-width: 1199px) {
  .standards__head-text {
    font-size: 16px;
  }
}
@media (max-width: 1023px) {
  .standards__head-text {
    font-size: 15px;
  }
}
@media (max-width: 639px) {
  .standards__head-text {
    font-size: 14px;
  }
}
.standards__block {
  width: calc(33.333% - 15px);
  background: rgba(99, 159, 171, 0.07);
  box-shadow: -5px -5px 10px rgba(6, 94, 71, 0.07), 5px 5px 10px rgba(6, 94, 71, 0.07);
  border-radius: 30px;
  padding: 49px 35px;
  flex-wrap: wrap;
  gap: 40px;
}
@media (max-width: 1199px) {
  .standards__block {
    padding: 40px 35px;
    gap: 26px;
  }
}
@media (max-width: 1023px) {
  .standards__block {
    padding: 30px 24px;
    width: calc(50% - 10px);
    border-radius: 15px;
    gap: 24px;
  }
}
@media (max-width: 767px) {
  .standards__block {
    padding: 20px;
  }
}
@media (max-width: 639px) {
  .standards__block {
    width: 100%;
  }
}
.standards__block .block-icon {
  width: 72px;
  height: 72px;
  background: #14213d;
  border-radius: 16px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1199px) {
  .standards__block .block-icon {
    width: 64px;
    height: 64px;
  }
}
@media (max-width: 1023px) {
  .standards__block .block-icon {
    width: 60px;
    border-radius: 5px;
    height: 60px;
  }
}
@media (max-width: 767px) {
  .standards__block .block-icon {
    width: 54px;
    height: 54px;
  }
}
@media (max-width: 400px) {
  .standards__block .block-icon {
    width: 44px;
    height: 44px;
  }
}
.standards__block .block-icon img {
  max-width: 32px;
  max-height: 32px;
}
@media (max-width: 1199px) {
  .standards__block .block-icon img {
    max-width: 28px;
    max-height: 28px;
  }
}
@media (max-width: 639px) {
  .standards__block .block-icon img {
    max-width: 26px;
    max-height: 26px;
  }
}
@media (max-width: 400px) {
  .standards__block .block-icon img {
    max-width: 24px;
    max-height: 24px;
  }
}
.standards__block .block-title {
  font-weight: 800;
  line-height: 140%;
  font-family: "Manrope";
  width: 100%;
  font-size: 16px;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  .standards__block .block-title {
    font-size: 15px;
  }
}
@media (max-width: 1023px) {
  .standards__block .block-title {
    font-size: 14px;
    width: calc(100% - 86px);
  }
}
@media (max-width: 767px) {
  .standards__block .block-title {
    font-size: 13px;
    width: 100%;
  }
}
@media (max-width: 639px) {
  .standards__block .block-title {
    width: calc(100% - 78px);
  }
}
@media (max-width: 400px) {
  .standards__block .block-title {
    font-size: 12px;
  }
}

/*# sourceMappingURL=standards.css.map */
